.eventDashboard {
  margin-top: 7em;
}

.ui.menu.navbar {
  background: #d08016;
  background: -webkit-linear-gradient(left, #d08016, #943fbf);
  background: -moz-linear-gradient(left, #d08016, #943fbf);
  background: linear-gradient(to right, #d08016, #943fbf);
  display: none;
}

@media screen and (min-width: 576px) {
  .sideDrawer {
    display: none;
  }

  .ui.menu.navbar {
    display: block;
  }
}
